* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


/* Header */

header {
    font-family: 'Open Sans', sans-serif;
}

header.life {
    width: 100%;
    height: 550px;
    background: #FF5F6D;
    /* fallback for old browsers */
    background: linear-gradient(to left, #ffc47185, #ff5f6c90), url(../img/Leoportada-img.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffc47185, #ff5f6c90), url(../img/Leoportada-img.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header.history {
    width: 100%;
    height: 550px;
    background: #FF5F6D;
    /* fallback for old browsers */
    background: linear-gradient(to right, #ffc47170, #ff5f6c60), url(../img/Franportada3-img.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc47170, #ff5f6c60), url(../img/Franportada3-img.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header.letter {
    width: 100%;
    height: 550px;
    background: #FF5F6D;
    /* fallback for old browsers */
    background: linear-gradient(to right, #ffc47170, #ff5f6c60), url(../img/Franportada-img.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc47170, #ff5f6c60), url(../img/Franportada-img.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header.index {
    width: 100%;
    height: 550px;
    background: #FF5F6D;
    /* fallback for old browsers */
    background: linear-gradient(to left, #ffc47170, #ff5f6c60), url(../img/Franportada2-img.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffc47170, #ff5f6c60), url(../img/Franportada2-img.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover {
    text-decoration: underline;
}

header .header-text {
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header-text h1 {
    font-size: 50px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.header-text h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    opacity: 80%;
    font-family: 'Open Sans', sans-serif;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* Historia */

.contenedor-nuestra-historia {
    display: flex;
    justify-content: space-evenly;
}

.nuestra-historia .contenido-textos {
    width: 50%;
}


/* Detalles */

.contenedor-detalles-ella {
    display: flex;
    justify-content: space-evenly;
}

.franimg1 {
    width: 32%;
    height: 60%;
    border-radius: 30%;
}

.detalles-ella .contenido-textos {
    width: 50%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #6400b6;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/* Mi VIda */

.contenido-textos h5 {
    margin-bottom: 10px;
    opacity: 50%;
    font-family: 'Big Shoulders Stencil Text';
    text-align: center;
}

.contenido-textos h3.history-tittle {
    text-align: center;
}

.contenido-textos p.history-text {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: center;
}